mutagen==1.47.0
ffmpeg==1.4
bubblewrap==1.2.0
mat2==0.13.4
flask==3.0.3
Flask-RESTful==0.3.10
Flask-Cors==4.0.0
Cerberus==1.3.5
Flask-Testing==0.8.1
blinker==1.7.0
flasgger==0.9.7.1
Flask-Assets2==2.1