<!doctype html>
<html lang="en">

<head>
    <title>MAT2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='raleway.woff2') }}" as="font" type="font/woff2" rel="preload">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    {% assets 'css' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body class="flex flex-col h-screen justify-between">
    <header class="h-20 w-full bg-blue-100 my-0 flex justify-center">
        <a href='.' class="mt-8">
            <img class='max-h-28' src="{{ url_for('static', filename='logo.png') }}" alt="mat2 logo" />
        </a>
    </header>



    <section class="mb-auto mt-8 pt-8">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="text-white px-6 py-4 border-0 rounded relative mb-4 bg-red-500">
            <span class="text-xl inline-block mr-5 align-middle">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </span>
            <span class="inline-block align-middle mr-8">
                {{ message }}
            </span>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </section>

    <footer class="h-10 flex justify-center">
        © <a href='https://dustri.org'>jvoisin</a> -
        <a href='https://0xacab.org/jvoisin/mat2-web'>source</a> -
        ♥
    </footer>
</body>