<!doctype html>
<html lang="en">
    <head>
        <title>MAT2</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='raleway.woff2') }}" as="font" type="font/woff2" rel="preload">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        {% assets 'css' %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
    </head>
<body class="flex flex-col h-screen justify-between">
    <header class="h-20 w-full bg-blue-100 my-0 flex justify-center">
        <a href='.' class="mt-8">
            <img class='max-h-28' src="{{ url_for('static', filename='logo.png') }}" alt="mat2 logo"/>
        </a>
    </header>

    <div class="container h-10 mt-8">
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div>
                            <p>
                                {{ message }}
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <section class="container mb-auto mx-auto mt-8">
        {% block content %}{% endblock %}
    </section>

    <footer class="h-10 flex justify-center">
        © <a href='https://dustri.org'>jvoisin</a> -
        <a href='https://0xacab.org/jvoisin/mat2-web'>source</a> -
        ♥
    </footer>
</body>
