{% extends "base.html" %}
{% block content %}
    <div class="shadowed-box u-text-center u-center-block">
        <h2 class="uk-text-center">Remove metadata</h2>
        <p class="uk-text-center">
            The file you see is just the tip of the iceberg. Remove the hidden metadata.
        </p>
        <div class="uk-flex uk-flex-center">
            <div>
                <form method=post enctype=multipart/form-data>
                    <div class="uk-margin">
                        <input type="file" name=file id="upload_file" accept="{{ mimetypes |  join(', ') }}">
                        <button class="uk-button uk-button-primary" type="submit" value="Upload">Upload</button>
                    </div>
                </form>
            </div>
        </div>
        <a href="/info" role="link" class="">
            <span class="info-link">
                ?
            </span>
        </a>

    </div>
{% endblock %}
